doctype html
html
    head
        link(rel="stylesheet", href="/static/styles/bootstrap.min.css")
        link(rel="stylesheet", href="/static/styles/bootstrap-select.min.css")
        link(rel="stylesheet", href="/static/styles/datepicker.css")
        link(rel="stylesheet", href="/static/styles/main.css")

        script(src="/static/js/jquery-1.11.0.min.js")
        script(src="/static/js/bootstrap.min.js")
        script(src="/static/js/bootstrap-select.min.js")
        script(src="/static/js/bootstrap-datepicker.js")
        script(src="/static/js/spin.min.js")

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        title Showtime
    body(ng-app="startPageApp")
        //-
        //- Navigation
        //-

        nav.navbar.navbar-default.navbar-static-top(role="navigation")
            .navbar-header
                a.navbar-brand(href="//certellino.develer.com") Certellino


        //-
        //- Main
        //-

        .container
            .jumbotron
                h3
                    | Manage your Develer VPN/WIFI certificate

            .row
                .col-md-4.col-md-offset-1

                    h4 Your account
                    table.table.table-condensed
                        tbody
                            tr
                                th Username
                                td {{ username }}
                            tr
                                th Email
                                td {{ email }}
                            tr
                                th Full Name
                                td {{ fullname }}

                .col-md-6.col-md-offset-1

                    h4 Your certificates
                    table.table.table-condensed
                        thead
                            th Serial
                            th Created on
                            th Expires on
                            th Where
                            th

                        tbody
                            tr
                                td #5
                                td May 25th, 2014
                                td May 25th, 2016
                                td Laptop di casa
                                td
                                    button.button.btn-danger.btn-xs Revoke
                            tr
                                td #19
                                td April 13th, 2015
                                td April 13th, 2017
                                td Computer in ufficio
                                td
                                    button.button.btn-danger.btn-xs Revoke


            .row
                .col-md-4.col-md-offset-4

                    h4 Create new certificate

                    form.form
                        //- .form-group
                        //-     label(for="projects") Choose one or more projects...
                        //-     select#projects.selectpicker.show-tick(data-live-search="true", multiple, data-width="auto")
                        //-         | {% for p in projects %}
                        //-         option {{ p }}
                        //-         | {% endfor %}

                        .form-group
                            label(for="reason") Please explain where you are going to install this certificate
                            input#reason(type="text")

                        .form-group#submit-group
                            button#submit.btn.btn-default.btn-primary(type="submit") Create macOS/iOS profile
                            button#submit.btn(type="submit") Create raw cert

                        .form-group#result-group(style="display: none")
                            label(for="result") Showtime link:
                            input#result(type="text", readonly)

            .row
                .col-md-6.col-md-offset-2
                    h3 Notes
                    ul
                        li  To install certificates on Linux devices, please follow the &nbsp;
                            a guide the wiki
                        li.
                            To install certificates on Apple devices (macOS/iOS), please create
                            a self-installing macOS/iOS profile directly from the device; it will
                            be auto-installed and auto-configured.
                        li.
                            Do not reuse the same certificate twice. Create one certificate per
                            device (PC, smartphone, tablet).
                        li.
                            If you don't use a certificate anymore, revoke it as soon as possible.


            //-
            //- Footer
            //-

            .row
                img(src="static/images/develer-logo.png", style="float:right", width="150px")


        script(type='text/javascript').
            $(document).ready(function() {

                $('.selectpicker').selectpicker();

                var end = new Date();
                end.setFullYear(end.getFullYear()+1);
                $('.datepicker').datepicker({
                    startDate: new Date(),
                    endDate: end,
                    weekstart: 1,
                    autoclose: true,
                    format: "yyyy-mm-dd"
                });

                $('#result').click(function() {
                    $(this).select();
                });

                $('#submit').click(function(e) {
                    e.preventDefault();

                    var opts = {
                      lines: 9, // The number of lines to draw
                      length: 5, // The length of each line
                      width: 5, // The line thickness
                      radius: 7, // The radius of the inner circle
                      corners: 1, // Corner roundness (0..1)
                      rotate: 0, // The rotation offset
                      direction: 1, // 1: clockwise, -1: counterclockwise
                      color: '#000', // #rgb or #rrggbb or array of colors
                      speed: 1, // Rounds per second
                      trail: 60, // Afterglow percentage
                      shadow: false, // Whether to render a shadow
                      hwaccel: false, // Whether to use hardware acceleration
                      className: 'spinner', // The CSS class to assign to the spinner
                      zIndex: 2e9, // The z-index (defaults to 2000000000)
                      top: "20px",
                      position: "relative"
                    };

                    var target = document.getElementById('submit-group');
                    var spinner = new Spinner(opts).spin(target);

                    $.ajax({
                        type: "POST",
                        url: "/createlink",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            projects: $('#projects').val(),
                            expire: $('#expire').val(),
                            _csrf_token: "{{ csrf_token() }}"
                        }),
                        success: function(data) {
                            $('#result').val(data.link);
                            $('#result-group').show();
                            spinner.stop();
                        },
                        error: function(data) {
                            $('#result').val("ERROR");
                            $('#result-group').show();
                            spinner.stop();
                        }
                    });
                });

            });


