doctype html
html
    head
        link(rel="stylesheet", href="/static/styles/bootstrap.min.css")
        link(rel="stylesheet", href="/static/styles/bootstrap-select.min.css")
        link(rel="stylesheet", href="/static/styles/datepicker.css")
        link(rel="stylesheet", href="/static/styles/main.css")
        link(rel="stylesheet", href="/static/styles/font-awesome.min.css")

        script(src="/static/js/jquery-1.11.0.min.js")
        script(src="/static/js/bootstrap.min.js")
        //- script(src="/static/js/bootstrap-select.min.js")
        //- script(src="/static/js/bootstrap-datepicker.js")
        script(src="/static/js/spin.min.js")

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        title Certellino
    body(ng-app="startPageApp")
        //-
        //- Navigation
        //-

        nav.navbar.navbar-default.navbar-static-top(role="navigation")
            .navbar-header
                a.navbar-brand(href="//certellino.develer.com") Certellino


        //-
        //- Main
        //-

        .container
            .jumbotron
                h3
                    | Manage your Develer VPN/WIFI certificate

            .row
                .col-md-4.col-md-offset-1

                    h4 Your account
                    table.table.table-condensed
                        tbody
                            tr
                                th Username
                                td {{ username }}
                            tr
                                th Email
                                td {{ email }}
                            tr
                                th Full Name
                                td {{ fullname }}

                .col-md-6.col-md-offset-1

                    h4 Your certificates
                    table.table.table-condensed
                        thead
                            th Serial
                            th Expires on
                            th Where
                            th

                        tbody
                            | {% for c in certs %}
                            tr
                                td {{ c.serial }}
                                td {{ c.expire }}
                                td {{ c.where }}
                                td
                                    button.button.btn-danger.btn-xs Revoke
                            | {% endfor %}


            .row
                #actionform.col-md-6.col-md-offset-4

                    h4 Create new certificate

                    form.form
                        .form-group
                            label.control-label(for="where") Please explain where you are going to install this certificate:
                            input#where.form-control(type="text")

                            input(type="hidden", readonly, name="_csrf_token", value="{{ csrf_token() }}")


                        {% if isapple %}
                        .form-group#submit-group
                            button#apple-submit.btn.btn-default.btn-primary(type="submit") Create macOS/iOS profile &nbsp;
                                i.fa.fa-apple(aria-hidden="true")
                            button#linux-submit.btn(type="submit") Create raw cert &nbsp;
                                i.fa.fa-linux(aria-hidden="true")
                        {% else %}
                        .form-group#submit-group
                            button#linux-submit.btn.btn-default.btn-primary(type="submit") Create raw cert &nbsp;
                                i.fa.fa-linux(aria-hidden="true")
                            button#apple-submit.btn(type="submit") Create macOS/iOS profile &nbsp;
                                i.fa.fa-apple(aria-hidden="true")
                        {% endif %}


            .row
                #processing.col-md-4.col-md-offset-4(style="display: none")
                    h1.text-center Generating...


            .row
                #apple-result.col-md-6.col-md-offset-3(style="display: none")
                    .row
                        .callout
                            h4 Profile successfully created.
                            p.
                             Please download it now and install it. {% if not isappledirect %} When requested, insert the following password. {% endif %}

                    .row
                        {% if not isappledirect %}
                        .col-md-6
                            label(for="apple-password") Certificate password:
                            input#apple-password.form-control(type="text", readonly)
                        {% endif %}

                        .col-md-1.col-md-offset-2
                            a.btn.btn-lg.btn-primary#apple-download(href="/appleprofile/download") Download &nbsp;
                                i.fa.fa-download

            .row
                #apple-error.col-md-6.col-md-offset-3(style="display: none")
                        .callout-error
                            h4 Error during profile generation
                            p.
                                Please contact the IT department for help.

            .row
                .col-md-6.col-md-offset-2
                    h3 Notes
                    ul
                        li  To install certificates on Linux devices, please follow the &nbsp;
                            a(href="https://intranet.develer.com") guide in the wiki
                        li.
                            To install certificates on Apple devices (macOS/iOS), please create
                            a self-installing macOS/iOS profile directly from the device; it will
                            be auto-installed and auto-configured.
                        li.
                            Do not reuse the same certificate twice. Create one certificate per
                            device (PC, smartphone, tablet).
                        li.
                            If you don't use a certificate anymore, revoke it as soon as possible.


            //-
            //- Footer
            //-

            .row
                img(src="static/images/develer-logo.png", style="float:right", width="150px")


        script(type='text/javascript').
            $(document).ready(function() {

                //- $('.selectpicker').selectpicker();

                //- var end = new Date();
                //- end.setFullYear(end.getFullYear()+1);
                //- $('.datepicker').datepicker({
                //-     startDate: new Date(),
                //-     endDate: end,
                //-     weekstart: 1,
                //-     autoclose: true,
                //-     format: "yyyy-mm-dd"
                //- });

                $('#result').click(function() {
                    $(this).select();
                });

                $('#apple-submit').click(function(e) {
                    e.preventDefault();

                    if ($('#where').val().length < 5) {
                        $('#actionform .form-group').addClass("has-error")
                        return
                    }

                    var opts = {
                      lines: 9, // The number of lines to draw
                      length: 5, // The length of each line
                      width: 5, // The line thickness
                      radius: 7, // The radius of the inner circle
                      corners: 1, // Corner roundness (0..1)
                      rotate: 0, // The rotation offset
                      direction: 1, // 1: clockwise, -1: counterclockwise
                      color: '#000', // #rgb or #rrggbb or array of colors
                      speed: 1, // Rounds per second
                      trail: 60, // Afterglow percentage
                      shadow: false, // Whether to render a shadow
                      hwaccel: false, // Whether to use hardware acceleration
                      className: 'spinner', // The CSS class to assign to the spinner
                      zIndex: 2e9, // The z-index (defaults to 2000000000)
                      top: "90px",
                      position: "relative"
                    };

                    $("#actionform").hide()
                    $("#processing").show()

                    var target = document.getElementById('processing');
                    var spinner = new Spinner(opts).spin(target);

                    $.ajax({
                        type: "POST",
                        url: "/appleprofile/create",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            where: $('#where').val(),
                            _csrf_token: "{{ csrf_token() }}"
                        }),
                        success: function(data) {
                            $("#processing").hide()
                            $('#apple-password').val(data.password);
                            $('#apple-result').show();
                            $('#apple-download').attr("href", "/appleprofile/download?filename=" + data.filename)
                            spinner.stop();
                        },
                        error: function(data) {
                            $("#processing").hide()
                            $('#apple-error').show();
                            spinner.stop();
                        }
                    });
                });

            });


