doctype html
html
    head
        link(rel="stylesheet", href="/static/styles/bootstrap.min.css")
        link(rel="stylesheet", href="/static/styles/bootstrap-select.min.css")
        link(rel="stylesheet", href="/static/styles/datepicker.css")
        link(rel="stylesheet", href="/static/styles/main.css")
        link(rel="stylesheet", href="/static/styles/font-awesome.min.css")

        script(src="/static/js/jquery-1.11.0.min.js")
        script(src="/static/js/bootstrap.min.js")
        //- script(src="/static/js/bootstrap-select.min.js")
        //- script(src="/static/js/bootstrap-datepicker.js")
        script(src="/static/js/spin.min.js")

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")

        title Certellino
    body(ng-app="startPageApp")
        //-
        //- Navigation
        //-

        nav.navbar.navbar-default.navbar-static-top(role="navigation")
            .navbar-header
                a.navbar-brand(href="//certellino.develer.com") Certellino


        //-
        //- Main
        //-

        .container
            .jumbotron
                h3
                    | Manage your Develer VPN/WIFI certificate

            .row
                .col-md-4.col-md-offset-1

                    h4 Your account
                    table.table.table-condensed
                        tbody
                            tr
                                th Username
                                td {{ username }}
                            tr
                                th Email
                                td {{ email }}
                            tr
                                th Full Name
                                td {{ fullname }}

                .col-md-6.col-md-offset-1

                    h4 Your certificates
                    table.table.table-condensed
                        thead
                            th Serial
                            th Expires on
                            th Where
                            th

                        tbody
                            | {% for c in certs %}
                            tr
                                td {{ c.serial }}
                                td {{ c.expire }}
                                td {{ c.where }}
                                td
                                    {% if not c.expired %}
                                    button.button.btn-danger.btn-xs.revoke(serial="{{ c.serial }}")
                                        | Revoke
                                    {% else %}
                                    b Expired
                                    {% endif %}
                            | {% endfor %}


            .row
                #actionform.col-md-6.col-md-offset-3

                    h4 Create new certificate

                    form.form
                        .form-group
                            label.control-label(for="where") Please explain where you are going to install this certificate (example: "MacBook at work", "Nexus 5X wifi", "My iPhone", "PC at home"):
                            input#where.form-control(type="text")
                            label#where-error

                        {% if isapple %}
                        .form-group#submit-group
                            button#apple-submit.btn.btn-default.btn-primary(type="submit") Create macOS/iOS profile &nbsp;
                                i.fa.fa-apple(aria-hidden="true")
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Other options &nbsp;
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a#oldapple-submit Create Yosemite (or older) profile &nbsp;
                                            i.fa.fa-apple(aria-hidden="true")
                                    li
                                        a#linux-submit Create raw cert &nbsp;
                                            i.fa.fa-linux(aria-hidden="true")
                                    li
                                        a#android-submit Create certificate bundle &nbsp;
                                            i.fa.fa-android(aria-hidden="true")
                        {% elif isandroid %}
                        .form-group#submit-group
                            button#android-submit.btn.btn-default.btn-primary(type="submit") Create certificate bundle &nbsp;
                                i.fa.fa-android(aria-hidden="true")
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Other options &nbsp;
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a#linux-submit Create raw cert &nbsp;
                                            i.fa.fa-linux(aria-hidden="true")
                                    li
                                        a#apple-submit Create macOS/iOS profile &nbsp;
                                            i.fa.fa-apple(aria-hidden="true")
                                    li
                                        a#oldapple-submit Create Yosemite (or older) profile &nbsp;
                                            i.fa.fa-apple(aria-hidden="true")
                        {% else %}
                        .form-group#submit-group
                            button#linux-submit.btn.btn-default.btn-primary(type="submit") Create raw cert &nbsp;
                                i.fa.fa-linux(aria-hidden="true")
                            .btn-group
                                button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Other options &nbsp;
                                    span.caret
                                ul.dropdown-menu
                                    li
                                        a#android-submit Create certificate bundle &nbsp;
                                            i.fa.fa-android(aria-hidden="true")
                                    li
                                        a#apple-submit Create macOS/iOS profile &nbsp;
                                            i.fa.fa-apple(aria-hidden="true")
                                    li
                                        a#oldapple-submit Create Yosemite (or older) profile &nbsp;
                                            i.fa.fa-apple(aria-hidden="true")
                        {% endif %}

                        span.help-block
                            b NOTE:
                            | &nbsp; please run this directly from the device where you are going to install the certificate


            .row
                #processing.col-md-4.col-md-offset-4(style="display: none")
                    h1.text-center Generating...


            .row
                #apple-result.col-md-6.col-md-offset-3(style="display: none")
                    .row
                        .callout
                            h4 Profile successfully created.
                            p.
                             Please download it now and install it. {% if not isappledirect %} When requested, insert the following password. {% endif %}

                    .row
                        {% if not isappledirect %}
                        .col-md-6
                            label(for="apple-password") Certificate password:
                            input#apple-password.form-control(type="text", readonly)
                        {% endif %}

                        .col-md-1.col-md-offset-2
                            a.btn.btn-lg.btn-primary#apple-download(href="/appleprofile/download") Download &nbsp;
                                i.fa.fa-download

            .row
                #linux-result.col-md-6.col-md-offset-3(style="display: none")
                    .row
                        .callout
                            h4 Certificate successfully created.
                            p
                                | Please download the zipfile, and follow
                                | the instructions in the &nbsp;
                                a(href="https://app.tettra.co/teams/develer/pages/wi-fi") wiki
                                | &nbsp; to install it.
                            p
                                b IMPORTANT:
                                | &nbsp; Remember to delete all the downloaded files
                                | after installation.

                    .row
                        .col-md-6
                            label(for="linux-password") Certificate password:
                            input#linux-password.form-control(type="text", readonly)

                        .col-md-1.col-md-offset-2
                            a.btn.btn-lg.btn-primary#linux-download(href="/rawcert/download") Download &nbsp;
                                i.fa.fa-download

            .row
                #android-result.col-md-6.col-md-offset-3(style="display: none")
                    .row
                        .callout
                            h4 Certificate bundle successfully created.
                            p
                                | Please download it now and install it. When requested, insert the following password.
                                | Then follow the instructions in the &nbsp;
                                a(href="https://app.tettra.co/teams/develer/pages/wi-fi") wiki
                                | &nbsp; to use it.
                            p
                                b IMPORTANT:
                                | &nbsp; Remember to delete the downloaded file
                                | after installation.
                    .row
                        .col-md-6
                            label(for="android-password") Certificate password:
                            input#android-password.form-control(type="text", readonly)

                        .col-md-1.col-md-offset-2
                            a.btn.btn-lg.btn-primary#android-download(href="/pkcs12/download") Download &nbsp;
                                i.fa.fa-download

            .row
                #submit-error.col-md-6.col-md-offset-3(style="display: none")
                        .callout-error
                            h4 Error during certificate/profile generation
                            p.
                                Please contact the IT department for help.

            .row
                .col-md-6.col-md-offset-2
                    h3 Notes
                    ul
                        li  To install certificates on Linux devices, please follow the &nbsp;
                            a(href="https://app.tettra.co/teams/develer/pages/wi-fi") guide in the wiki
                        li.
                            To install certificates on Apple devices (macOS/iOS), please create
                            a self-installing macOS/iOS profile directly from the device; it will
                            be auto-installed and auto-configured.
                        li.
                            Do not reuse the same certificate twice. Create one certificate per
                            device (PC, smartphone, tablet).
                        li.
                            If you don't use a certificate anymore, revoke it as soon as possible.
                        li.
                            OS X Yosemite and older don't have a working IKEv2 VPN implementation.
                            Create appropriate profile if you want at least to configure WiFi.


            //-
            //- Footer
            //-

            .row
                img(src="static/images/develer-logo.png", style="float:right", width="150px")


        #revoke-confirm.modal.fade(role="dialog")
            .modal-dialog
                .modal-content
                    .modal-header
                        h4.modal-title Confirm revoking
                    .modal-body
                        p Are you sure you want revoke this certificate?
                        p WARNING: this operation is very slow. After clicking the button, wait for up to 2 minutes
                    .modal-footer
                        button.btn.btn-default(data-dismiss="modal") No, sorry, wrong click
                        button.btn.btn-danger Go ahead mate, nuke it from the planet


        script(type='text/javascript').
            $(document).ready(function() {

                $('#result').click(function() {
                    $(this).select();
                });

                function create_spinner(target) {
                    var opts = {
                      lines: 9, // The number of lines to draw
                      length: 5, // The length of each line
                      width: 5, // The line thickness
                      radius: 7, // The radius of the inner circle
                      corners: 1, // Corner roundness (0..1)
                      rotate: 0, // The rotation offset
                      direction: 1, // 1: clockwise, -1: counterclockwise
                      color: '#000', // #rgb or #rrggbb or array of colors
                      speed: 1, // Rounds per second
                      trail: 60, // Afterglow percentage
                      shadow: false, // Whether to render a shadow
                      hwaccel: false, // Whether to use hardware acceleration
                      className: 'spinner', // The CSS class to assign to the spinner
                      zIndex: 2e9, // The z-index (defaults to 2000000000)
                      top: "90px",
                      position: "relative"
                    };

                    return new Spinner(opts).spin(target);
                }


                function submit(url, success) {
                    var where = $('#where').val().trim();

                    if (where.length < 5) {
                        $('#actionform .form-group').addClass("has-error");
                        $('#where-error').text("Name too short");
                        return;
                    }

                    var existing = [ {% for c in certs %} "{{ c.where }}", {% endfor %} ];
                    if (existing.indexOf(where) > -1) {
                        $('#actionform .form-group').addClass("has-error");
                        $('#where-error').text("Name already used");
                        return;
                    }

                    $("#actionform").hide();
                    $("#processing").show();

                    var target = document.getElementById('processing');
                    var spinner = create_spinner(target);

                    $.ajax({
                        type: "POST",
                        url: url,
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            where: where,
                            _csrf_token: "{{ csrf_token() }}"
                        }),
                        success: function(data) {
                            spinner.stop();
                            $("#processing").hide();
                            success(data);
                        },
                        error: function(data) {
                            $("#processing").hide();
                            $('#submit-error').show();
                            spinner.stop();
                        }
                    });
                }

                $('#apple-submit').click(function(e) {
                    e.preventDefault();
                    submit("/appleprofile/create", function(data) {
                        $('#apple-password').val(data.password);
                        $('#apple-result').show();
                        $('#apple-download').attr("href", "/appleprofile/download?filename=" + data.filename)
                    })
                });

                $('#oldapple-submit').click(function(e) {
                    e.preventDefault();
                    submit("/oldappleprofile/create", function(data) {
                        $('#apple-password').val(data.password);
                        $('#apple-result').show();
                        $('#apple-download').attr("href", "/appleprofile/download?filename=" + data.filename)
                    })
                });

                $('#linux-submit').click(function(e) {
                    e.preventDefault();
                    submit("/rawcert/create", function(data) {
                        $('#linux-password').val(data.password);
                        $('#linux-result').show();
                        $('#linux-download').attr("href", "/rawcert/download?filename=" + data.filename)
                    })
                });

                $('#android-submit').click(function(e) {
                    e.preventDefault();
                    submit("/pkcs12/create", function(data) {
                        $('#android-password').val(data.password);
                        $('#android-result').show();
                        $('#android-download').attr("href", "/pkcs12/download?filename=" + data.filename)
                    })
                });

                var serial_to_nuke;

                $('#revoke-confirm button.btn-danger').click(function() {
                    $.ajax({
                        type: "POST",
                        url: "/revoke",
                        dataType: "json",
                        contentType: 'application/json; charset=utf-8',
                        data: JSON.stringify({
                            serial: serial_to_nuke,
                            _csrf_token: "{{ csrf_token() }}"
                        }),
                        success: function(data) {
                            window.location.reload();
                        },
                    });
                });

                $('.revoke').click(function() {
                    serial_to_nuke = $(this).attr("serial");
                    $('#revoke-confirm').modal();
                });
            });
